{% extends 'base.html' %}

{% block content %}
<div class="w-full h-screen flex flex-col justify-center items-center">
    <div class="max-w-3xl w-1/3 p-8 bg-white rounded-lg shadow-lg flex md:flex-row flex-col">
        <h2 class="text-3xl font-bold mb-4 text-center">Post Details</h2>
        <div class="md:w-1/3 mb-4">
            <img src="{{ post.book.image_url }}" alt="cover" class="border mx-auto">
        </div>
        <div class="md:w-2/3 ml-4">
            <div>
                <h2 class="text-lg font-semibold text-gray-800">{{ post.book.title }}</h2>
                {% if post.created_at == post.updated_at %}
                    <p>Posted at: {{ post.created_at }}</p>
                {% else %}
                    <p>Updated at: {{ post.updated_at }}</p>
                {% endif %}
            </div>
            <div class="my-4">
                <p class="text-lg">{{ post.content }}</p>
            </div>
            <div class="mt-4 flex items-center">
                <button id="like-button" data-url="{% url 'like-post' post.id %}" class="bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-600">
                    {% if has_liked %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <span class="ml-2 text-lg">Likes: <span id="like-count">{{ post.likes.count }}</span></span>
            </div>
            {% if is_owner %}
                <div class="mt-4 flex justify-center">
                    <a href="{% url 'edit-post' post.id %}" class="bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-600 flex-1">Edit</a>
                    <button class="bg-red-500 text-white rounded px-4 py-2 hover-bg-red-600 flex-1" id="delete-post" data-url="{% url 'delete-post' post.id %}">Delete</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const likeButton = document.getElementById("like-button");
    const deleteButton = document.getElementById("delete-post");

    if (likeButton) {
        likeButton.addEventListener("click", function () {
            const likeUrl = likeButton.getAttribute("data-url");
            fetch(likeUrl, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    document.getElementById("like-count").textContent = data.likes_count;
                    if (data.user_has_liked) {
                        likeButton.textContent = "Unlike";
                    } else {
                        likeButton.textContent = "Like";
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        });
    }

    if (deleteButton) {
        deleteButton.addEventListener("click", function () {
            if (confirm("Are you sure you want to delete this post?")) {
                const deleteUrl = deleteButton.getAttribute("data-url");
                fetch(deleteUrl, {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.redirect_url) {
                        window.location.href = data.redirect_url;
                    } else if (data.error) {
                        alert(data.error);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            }
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
{% endblock content %}
