{% extends 'base.html' %}

{% block content %}
<div class="max-w-xl mx-auto mt-3 min-h-screen flex items-center">
    <div class="bg-orange-200 rounded-lg shadow-lg p-6">
        <h5 class="text-2xl font-bold mb-4 text-center">Edit Quote</h5>

        <form method="POST">
            {% csrf_token %}
            <table class="mx-auto">
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td class="flex justify-center items-center text-center">
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Update Quotes
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock content %}