{% load static %}

<nav class="bg-[#FAEFDF] ">
    <div class="container flex items-center justify-between">
        <a href="{% url 'homepage' %}"><img src="{% static '/img/logo.svg' %}" alt="logo"></a>
        <div class="flex gap-5">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'shop' %}">Shop</a>
            <a href="{% url 'quotes' %}">Quotes</a>
            <a href="{% url 'books' %}">Books</a>
        </div>
        <div class="w-full max-w-sm">
            <label for="search" class="relative">
                <img src="{% static '/img/magnify.svg' %}" alt="Magnify"
                    class="absolute top-1/2 -translate-y-1/2 right-2 pointer-events-none">
                <form method="GET" action="{% url 'books' %}">
                    <input type="text" name="q" class="h-8 w-full  border-1 border-black/40" placeholder="Cari buku">
                </form>
            </label>
        </div>

        {% if user.username %}
        <div class="flex items-center gap-4">
            <div class="flex items-center gap-1">
                <img src="{% static '/img/loyalty-point.svg' %}" alt="loyalty point">
                <span class=" font-bold text-lg">{{ user.loyalty_point }}</span>
            </div>
            <div class="relative" id="profileBtn">
                <img src="{% static '/img/profile.svg' %}" alt="Profile">
                <div id="profile"
                    class="absolute top-full  right-0 bg-white rounded-lg border border-black/20 min-w-[10rem] hidden flex-col">
                    <a class="py-2 px-4 hover:bg-gray-200 font-bold" href="{% url 'profile' %}">Profile</a>
                    <a class="py-2 px-4 hover:bg-gray-200 font-bold text-red-400" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="text-white bg-[#1E1915] py-1.5 px-4 font-bold block rounded-full">Login</a>
        {% endif %}

    </div>
</nav>

<script>
    const profileBtn = document.getElementById('profileBtn');
    const profile = document.getElementById('profile');

    profileBtn.addEventListener('mouseover', () => {
        profile.classList.remove('hidden');
        profile.classList.add('flex');
    });

    profileBtn.addEventListener('mouseleave', () => {
        profile.classList.add('hidden');
        profile.classList.remove('flex');
    })
</script>